@model MVCVirtualPets.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name Pet Details</title>
</head>
<body>
    <h1>@Model.Name's Details</h1>
    <p>This is the details</p>

    <a href="/Pet">Go back to pet list</a>
</body>
</html>
