@model IEnumerable<MVCVirtualPets.Models.Pet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to Pets!</h1>
    <p>Wachu really want wachu realy really want?</p>
    <ol>
        @foreach (var pet in Model)
        {
            <li><a href="/Pet/Details/@pet.PetId">@pet.Name</a></li>
        }

    </ol>

    <a href="/Pet/Create">Create new pet</a>

</body>
</html>
